{% extends "base.html" %}

{% block contenthead %}Change Password{% endblock %}

{% block main %}
<div class="pass-form">
    <!-- Error messaging -->
    <div class="messages">
        {% for form in form %}
            {% if form.errors %}
            <li class="text-danger small">{{ form.label_tag }}{{ form.errors|striptags }}</li>
            {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
        <div id="errors">
            <div class="inner">
                <ul>        
                    <li class="text-danger small">{{ form.non_field_errors }}</li>
                </ul>
            </div>
        </div> 
        {% endif %}
    </div>
    <!-- /Error messaging -->
    <form class="form-signin" action="{% url 'password_change' %}" method="POST">{% csrf_token %}
        <p>
            Please enter your old password, for security’s sake.
        </p>
        <div class="form-label-group">      
            <label for="id_old_password">Old password:</label> 
            <input class="form-control" placeholder="Old Password" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
        </div>
        <div class="form-label-group">    
            <label for="id_new_password1">New password:</label> 
            <input class="form-control" placeholder="New Password" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">            
            <div class="text-primary small text-danger">
                <ul>
                    <li>Password can’t be too similar to your other personal information.</li>
                    <li>Password must contain at least 8 characters.</li>
                    <li>Password can’t be a commonly used password.</li>
                    <li>Password can’t be entirely numeric.</li>
                </ul>
            </div>    
        </div>
        <div class="form-label-group">
            <label for="id_new_password2">New password confirmation:</label> 
            <input class="form-control" placeholder="Re-type New Password" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">            
        </div>

    
        <input type="hidden" name="next" value="{% if next_url %}{{ next_url }}{% else %}{% url 'home' %}{% endif %}">
        <button class="btn btn-primary btn-block" type="submit">Change password</button>
    </form>
</div>

{% endblock %}
